@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Rubik:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: Epilogue;
}

body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style: none;
}

.homeContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 1200px;
  background-image: url(/homePageImage.jpg);
  background-size: 100%;
  background-repeat: none;
  color: whitesmoke;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
}

.backgroundImage {
  display: inline;
  width: 1000px;
}

button {
  background-color: black;
  box-shadow: none;
  border: none;
  font: 500;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  color: white;
}

button:hover {
  color: orangered;
}

div{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h1{
  letter-spacing: 12px;
}

.photoCred{
  height: 15px;
  width: auto;
}

.homeCenter{
  margin-top: 25px;
}

.reportsContainer{
  display: inline;
  height: 800px;
  width: 1200px;
  background-image: url(/reportsBackground.jpg);
  background-size: 100%;
  background-repeat: none;
  color: whitesmoke;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
}

.nav{
  display: flex;
  background-color: rgba(47, 79, 79, 0.667);
  height: 150px;
  width: 1200px;
  border-radius: 8px;
}

.nav h1 {
  align-self: center;
}

.reportsContent{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 1200px;
}


.reportList {
  display: flex;
  flex-flow: column nowrap;
}

.report{
  display: flex;
  flex-flow: column nowrap;
  height: 200px;
  margin-top: 35px;
  width: 500px;
  border: 1px solid white;
  background-color: slategray;
  color: white;
  padding: 25px;
}